.video {
  max-width: 1680px;
}
.video-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto auto 80px auto;
}
.video-text {
  width: 730px;
  font-family: "Forum";
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.video-apples {
  margin: auto auto 160px auto;
  /* margin-bottom: 160px; */
}
.video-under {
  border: #4567aa 2px solid;
  width: 1680px;
  /* margin-left: 125px; */
  margin-bottom: 50px;
}
