.container {
  width: 100%;
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: relative;
}
.header-line {
  margin-bottom: 10px;
  width: 54px;
  height: 4px;
  background-color: #4666a9;
}
.header-image {
  padding-top: 5px;
  padding-left: 46px;
}
.header-logo {
  width: 180px;
  height: 45px;
}
.header-cercle {
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background: url("../img/logo2.svg") center no-repeat;
  background-color: #fff;
}
.header-logo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 6;
}
.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 70px;
  background-color: #4567aa;
}
.header-button-text {
  padding-right: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Forum" serif;
}
